{
    "env": {
        "development": {
            "presets": ["@babel/preset-env"],
            "plugins": ["@babel/plugin-transform-runtime"]
        },
        "production": {
            "presets": ["@babel/preset-env"],
            "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}
